body {
<<<<<<< HEAD
    background-color: lightblue;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.background {
    background-color: #3D5A85;
    height:1970px;
    width:1300px;
    margin-left: 100px;
}
.container{
    border: 2px solid darkblue;
    background-color:lightcyan ;
}
.events{
    background-image: url("https://img.freepik.com/free-vector/abstract-galaxy-background_1199-247.jpg?size=626&ext=jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
  color:white;
    border-radius: 3px;
    border-color: darkblue;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    width: 500px;
    height: 450px;
=======
    background-color: skyblue;
    color: white;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
#events{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 10px #888888;
    width: 500px;
    height: auto;
    list-style-type: none;
    display: inline-block;
    background: #b19cd9;
    margin: 15px;
}
#title {
    text-align: center;
<<<<<<< HEAD
>>>>>>> ab113916f6d07b2d976813ab3d45269cdf2e2c4b
=======
    margin: 510px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #0288d1;
>>>>>>> e040868de26fd79f5c130bec0cc66bcf17fbf3f5
}
