#textbox1,#textbox2,#textbox3,#textbox4,#textbox5,#textbox6,#textbox7,#textbox8,#txt{
    border-radius: 15px;
    border-color:darkblue;
    border-width:3px;
    border-style:outset;
}
#textbox1{
    margin-left:118px;
}
#textbox2{
    margin-left:120px ;
}
#textbox3{
    margin-left:120px;
    width:190px;
    
}
#textbox4{
    margin-left:120px;
    width:190px;
}
#textbox6{
    margin-left:90px;
    width:190px;
}
#textbox7{
    margin-left:120px;
    width:190px;
}
#textbox8{
    margin-left:115px;
    width:190px;
}
#txt {
    margin-left: 50px;
}
#lbl{
    font-size: larger;
    font-weight: bold;
}

#btn {
    padding: 15px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width:180px;
    height:45px;
    margin-left:190px;
  }
  
  #btn:hover {background-color:darkblue}
  
  #btn:active {
    background-color:lightblue;
    box-shadow: 0 5px lightcyan;
    transform: translateY(4px);
  }
  #event{
      margin-left: 50px;
      border-style: solid;
      border-width:5px;
      border-color:darkblue;
      width:600px;
      background-color: lightcyan;
  }
  #lbl{
      margin-left: 60px;
  }
  #head {
      margin-left: 100px;
  }
  body {
      background-color: lightblue;
      font-family: 'Roboto', 'Helvetica', sans-serif;
  }
  #background {
      background-color: #3D5A85;
      height:750px;
      width:700px;
      margin-left:425px;
  }
  #title {
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #0288d1;
    color: white;
    margin-left: 0px;
    padding: 50px;
    margin-right: 0px;
}

#title {
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #0288d1;
    color: white;
    margin-left: 0px;
    padding: 50px;
    margin-right: 0px;
}