body {
    background-color: skyblue;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
#events{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 500px;
    height: 400px;
    list-style-type: none;
    display: inline-block;
    background: #b19cd9;
}
#title {
    text-align: center;
}
