body {
    background-color: lightblue;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.background {
    background-color: #3D5A85;
    width:1300px;
    margin-left: 100px;
}
.container{
    border: 2px solid darkblue;
    background-color:lightcyan ;

}
#schedule{
    background-image: url("https://img.freepik.com/free-vector/abstract-galaxy-background_1199-247.jpg?size=626&ext=jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    border-radius: 3px;
    border-color: darkblue;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    width: 500px;
    height: 450px;
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

h1{
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #0288d1;
    color: white;
    margin-left: 0px;
    padding: 50px;
    margin-right: 0px;
}